<%- include('../partials/header'); %>
 
<main class="main main-single container">

    <section class="section section-single d-flex justify-content-between row">
 
    <!-- previous and next -->
 
        <div class="prev-and-next d-flex  justify-content-between">
            <p class="prev">
                <% if(data.id > 1) { %>
                    <a href="/beers/<%= data.id - 1 %> ">Previous beer</a>
            <% } %>
            </p>
            <p class="next">
                <% if(data.id +1 < count) { %>
                    <a href="/beers/<%= data.id + 1 %> ">Next beer</a>
            <% } %>
            </p>
        </div>
    </section>

    <section class="section section-single row justify-content-end">
        <figure class="figure figure-single  col-md-4 d-block ">
            <div class="single-beer-div row ">
                <img src="<%= data.image %>" alt="<%= name %>" class="img-fluid d-block col single-image">

                <div class="single-beer-info d-block">
                    <figcaption class="figcaption figcap-single info-text">Price:  <%= data.price %></figcaption>
                    <figcaption class="figcaption figcap-single info-text">Rating: <%= Math.floor(data.rating.average) %></figcaption>
                    <figcaption class="figcaption figcap-single info-text">Reviews:  <%= data.rating.reviews %></figcaption>
                </div>
            </div>
        </figure>
    </section>
</main>
 
<%- include('../partials/footer'); %>