<%- include('../partials/header'); %>
 
<main class="main main-single container">

    <section class="section section-single d-flex justify-content-between row">
 
    <!-- previous and next -->
 
        <div class="prev-and-next d-flex  justify-content-between">
            <p class="prev">
                <% if(data.id > 1) { %>
                    <a href="/beers/<%= data.id - 1 %> ">Previous beer</a>
            <% } %>
            </p>
            <p class="next">
                <% if(data.id +1 < count) { %>
                    <a href="/beers/<%= data.id + 1 %> ">Next beer</a>
            <% } %>
            </p>
        </div>
    </section>

    <section class="section section-single row justify-content-center">
        <figure class="figure figure-single col-md-4 d-block text-center">
            <img src="<%= data.image %>" alt="<%= name %>" class="img-fluid">
            <figcaption class="figcaption figcap-single">Price:  <%= data.price %></figcaption>
            <figcaption class="figcaption figcap-single">Rating: <%= Math.floor(data.rating.average) %></figcaption>
            <figcaption class="figcaption figcap-single">Reviews:  <%= data.rating.reviews %></figcaption>
        </figure>
    </section>
</main>
 
<%- include('../partials/footer'); %>